
.footer_links{
  color: black;
}

.background_rose{
  background-color: rgb(232,208,208);
  color: rgb(100,40,40);
  font-family: verdana;
}

body {
  font-family: verdana;

}

p{
font-family: verdana;

}

h1{
font-family: verdana;
font-weight: bold;
}

h2{
font-family: verdana;

}

h3{
font-family: verdana;

}
